import SelectDemo from "../../../demos/select/select-demo.marko";
import SelectWithLabel from "../../../demos/select/select-with-label.marko";
import SelectDefaultValue from "../../../demos/select/select-default-value.marko";
import SelectDisabledItems from "../../../demos/select/select-disabled-items.marko";
import SelectDisabled from "../../../demos/select/select-disabled.marko";
import SelectControlled from "../../../demos/select/select-controlled.marko";

<component-page title="Select" description="Displays a list of options for the user to pick from, triggered by a button.">
  <demo-box title="Default">
    <SelectDemo/>
  </demo-box>
  <demo-box title="With label">
    <SelectWithLabel/>
  </demo-box>
  <demo-box title="Default value">
    <SelectDefaultValue/>
  </demo-box>
  <demo-box title="Disabled items">
    <SelectDisabledItems/>
  </demo-box>
  <demo-box title="Disabled">
    <SelectDisabled/>
  </demo-box>
  <demo-box title="Controlled">
    <SelectControlled/>
  </demo-box>
</component-page>
