import Pagination from "@marko-ui/shadcn/ui/pagination/pagination.marko";
import PaginationContent from "@marko-ui/shadcn/ui/pagination/content.marko";
import PaginationEllipsis from "@marko-ui/shadcn/ui/pagination/ellipsis.marko";
import PaginationItem from "@marko-ui/shadcn/ui/pagination/item.marko";
import PaginationLink from "@marko-ui/shadcn/ui/pagination/link.marko";
import PaginationNext from "@marko-ui/shadcn/ui/pagination/next.marko";
import PaginationPrevious from "@marko-ui/shadcn/ui/pagination/previous.marko";

<Pagination>
  <PaginationContent>
    <PaginationItem>
      <PaginationPrevious href="#"/>
    </PaginationItem>
    <PaginationItem>
      <PaginationLink href="#">1</PaginationLink>
    </PaginationItem>
    <PaginationItem>
      <PaginationLink href="#" isActive>2</PaginationLink>
    </PaginationItem>
    <PaginationItem>
      <PaginationLink href="#">3</PaginationLink>
    </PaginationItem>
    <PaginationItem>
      <PaginationEllipsis/>
    </PaginationItem>
    <PaginationItem>
      <PaginationNext href="#"/>
    </PaginationItem>
  </PaginationContent>
</Pagination>
