import Default from "../../../demos/alert/default.marko";
import WithoutIcon from "../../../demos/alert/without-icon.marko";
import Destructive from "../../../demos/alert/destructive.marko";

<component-page title="Alert" description="Displays a callout for user attention.">
  <demo-box title="Default">
    <Default/>
  </demo-box>
  <demo-box title="Without icon">
    <WithoutIcon/>
  </demo-box>
  <demo-box title="Destructive">
    <Destructive/>
  </demo-box>
</component-page>
