import Default from "../../../demos/context-menu/default.marko";
import Simple from "../../../demos/context-menu/simple.marko";
import Shortcuts from "../../../demos/context-menu/shortcuts.marko";
import Groups from "../../../demos/context-menu/groups.marko";
import Destructive from "../../../demos/context-menu/destructive.marko";
import Disabled from "../../../demos/context-menu/disabled.marko";
import Controlled from "../../../demos/context-menu/controlled.marko";

<component-page title="Context Menu" description="Displays a menu to the user — such as a set of actions or functions — triggered by right click.">
  <demo-box title="Default">
    <Default/>
  </demo-box>
  <demo-box title="Simple">
    <Simple/>
  </demo-box>
  <demo-box title="Shortcuts">
    <Shortcuts/>
  </demo-box>
  <demo-box title="Groups">
    <Groups/>
  </demo-box>
  <demo-box title="Destructive">
    <Destructive/>
  </demo-box>
  <demo-box title="Disabled">
    <Disabled/>
  </demo-box>
  <demo-box title="Controlled">
    <Controlled/>
  </demo-box>
</component-page>
