import Default from "../../../demos/hover-card/default.marko";
import Positioning from "../../../demos/hover-card/positioning.marko";
import CustomDelays from "../../../demos/hover-card/custom-delays.marko";
import Disabled from "../../../demos/hover-card/disabled.marko";

<component-page title="Hover Card" description="For sighted users to preview content available behind a link.">
  <demo-box title="Default">
    <Default/>
  </demo-box>
  <demo-box title="Positioning">
    <Positioning/>
  </demo-box>
  <demo-box title="Custom delays">
    <CustomDelays/>
  </demo-box>
  <demo-box title="Disabled">
    <Disabled/>
  </demo-box>
</component-page>
