import Collapsible from "@marko-ui/shadcn/ui/collapsible/collapsible.marko";
import Button from "@marko-ui/shadcn/ui/button/button.marko";
import Card from "@marko-ui/shadcn/ui/card/card.marko";
import CardContent from "@marko-ui/shadcn/ui/card/content.marko";

<Card class="mx-auto w-full max-w-sm">
  <@content>
    <Collapsible class="rounded-md data-[state=open]:bg-muted">
      <@trigger|triggerProps|>
        <Button ...triggerProps type="button" variant="ghost" class="group w-full">
          Product details
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="ml-auto size-4 transition-transform group-data-[state=open]:rotate-180"
          >
            <path d="m6 9 6 6 6-6"/>
          </svg>
        </Button>
      </@trigger>
      <div class="flex flex-col items-start gap-2 p-2.5 pt-0 text-sm">
        <div>
          This panel can be expanded or collapsed to reveal additional
          content.
        </div>
        <Button type="button" size="xs">Learn More</Button>
      </div>
    </Collapsible>
  </@content>
</Card>
