import SidebarDemo from "../../../demos/sidebar/sidebar-demo.marko";
import SidebarControlled from "../../../demos/sidebar/sidebar-controlled.marko";

<component-page title="Sidebar" description="A composable, collapsible side navigation panel.">
  <demo-box title="Default">
    <SidebarDemo/>
  </demo-box>

  <demo-box title="Controlled">
    <SidebarControlled/>
  </demo-box>
</component-page>
