import Spinner from "@marko-ui/shadcn/ui/spinner/spinner.marko";

<div class="flex items-center gap-4">
  <Spinner class="size-3"/>
  <Spinner/>
  <Spinner class="size-6"/>
  <Spinner class="size-8"/>
</div>
