import Badge from "@marko-ui/registry/ui/badge/badge.marko";
import Spinner from "@marko-ui/registry/ui/spinner/spinner.marko";

<div class="flex items-center gap-4">
  <Badge>
    <Spinner/>
    Syncing
  </Badge>
  <Badge variant="secondary">
    <Spinner/>
    Updating
  </Badge>
  <Badge variant="outline">
    <Spinner/>
    Processing
  </Badge>
</div>
