import Button from "@marko-ui/shadcn/ui/button/button.marko";
import Field from "@marko-ui/shadcn/ui/field/field.marko";
import TextInput from "@marko-ui/shadcn/ui/input/input.marko";

<Field orientation="horizontal">
  <TextInput type="search" placeholder="Search..."/>
  <Button>Search</Button>
</Field>
