import Badge from "@marko-ui/shadcn/ui/badge/badge.marko";
import Field from "@marko-ui/shadcn/ui/field/field.marko";
import FieldLabel from "@marko-ui/shadcn/ui/field/field-label.marko";
import Input from "@marko-ui/shadcn/ui/input/input.marko";

<Field>
  <FieldLabel for="input-badge">
    Webhook URL
    <Badge variant="secondary" class="ml-auto">Beta</Badge>
  </FieldLabel>
  <Input id="input-badge" type="url" placeholder="https://api.example.com/webhook"/>
</Field>
