import Field from "@marko-ui/shadcn/ui/field/field.marko";
import FieldGroup from "@marko-ui/shadcn/ui/field/field-group.marko";
import FieldLabel from "@marko-ui/shadcn/ui/field/field-label.marko";
import TextInput from "@marko-ui/shadcn/ui/input/input.marko";

<FieldGroup class="grid max-w-sm grid-cols-2">
  <Field>
    <FieldLabel for="grid-first-name">First Name</FieldLabel>
    <TextInput id="grid-first-name" placeholder="Jordan"/>
  </Field>
  <Field>
    <FieldLabel for="grid-last-name">Last Name</FieldLabel>
    <TextInput id="grid-last-name" placeholder="Lee"/>
  </Field>
</FieldGroup>
