import Button from "@marko-ui/shadcn/ui/button/button.marko";
import Field from "@marko-ui/shadcn/ui/field/field.marko";
import FieldDescription from "@marko-ui/shadcn/ui/field/field-description.marko";
import FieldGroup from "@marko-ui/shadcn/ui/field/field-group.marko";
import FieldLabel from "@marko-ui/shadcn/ui/field/field-label.marko";
import Input from "@marko-ui/shadcn/ui/input/input.marko";

<FieldGroup>
  <Field>
    <FieldLabel for="fieldgroup-name">Name</FieldLabel>
    <Input id="fieldgroup-name" placeholder="Jordan Lee"/>
  </Field>
  <Field>
    <FieldLabel for="fieldgroup-email">Email</FieldLabel>
    <Input id="fieldgroup-email" type="email" placeholder="name@example.com"/>
    <FieldDescription>We'll send updates to this address.</FieldDescription>
  </Field>
  <Field orientation="horizontal">
    <Button type="reset" variant="outline">Reset</Button>
    <Button type="submit">Submit</Button>
  </Field>
</FieldGroup>
