import DefaultDemo from "../../../demos/tags-input/default.marko";
import LabelDemo from "../../../demos/tags-input/label.marko";
import MaxDemo from "../../../demos/tags-input/max.marko";
import PasteDemo from "../../../demos/tags-input/paste.marko";
import DisabledDemo from "../../../demos/tags-input/disabled.marko";
import ControlledDemo from "../../../demos/tags-input/controlled.marko";

<component-page title="Tags Input" description="Tag chips input: type + Enter adds, Backspace deletes, double-click edits inline, supports a max tag count and paste splitting.">
  <demo-box title="Default">
    <DefaultDemo/>
  </demo-box>
  <demo-box title="With label">
    <LabelDemo/>
  </demo-box>
  <demo-box title="Max 3 tags">
    <MaxDemo/>
  </demo-box>
  <demo-box title="Paste splitting (comma-delimited)">
    <PasteDemo/>
  </demo-box>
  <demo-box title="Disabled">
    <DisabledDemo/>
  </demo-box>
  <demo-box title="Controlled">
    <ControlledDemo/>
  </demo-box>
</component-page>
