import ContextMenu from "@marko-ui/shadcn/ui/context-menu/context-menu.marko";
import Icon from "@marko-ui/shadcn/ui/icon/icon.marko";

<ContextMenu>
  <@content>
    <div class="flex h-[100px] w-[250px] items-center justify-center rounded-md border border-dashed text-sm text-muted-foreground">
      Right click here
    </div>
  </@content>
  <@item value="copy">
    <Icon name="Copy"/>
    Copy
  </@item>
  <@item value="cut">
    <Icon name="Scissors"/>
    Cut
  </@item>
  <@item value="paste">
    <Icon name="ClipboardPaste"/>
    Paste
  </@item>
  <@item type="separator"/>
  <@item value="delete" variant="destructive">
    <Icon name="Trash"/>
    Delete
  </@item>
</ContextMenu>
