import DropdownMenuDemo from "../../../demos/dropdown-menu/dropdown-menu-demo.marko";
import DropdownMenuSimple from "../../../demos/dropdown-menu/dropdown-menu-simple.marko";
import DropdownMenuDisabledItem from "../../../demos/dropdown-menu/dropdown-menu-disabled-item.marko";
import DropdownMenuSelection from "../../../demos/dropdown-menu/dropdown-menu-selection.marko";
import DropdownMenuDanger from "../../../demos/dropdown-menu/dropdown-menu-danger.marko";

<component-page title="Dropdown Menu" description="Displays a menu to the user — such as a set of actions or functions — triggered by a button.">
  <demo-box title="Default">
    <DropdownMenuDemo/>
  </demo-box>
  <demo-box title="Simple">
    <DropdownMenuSimple/>
  </demo-box>
  <demo-box title="Disabled item">
    <DropdownMenuDisabledItem/>
  </demo-box>
  <demo-box title="Selection">
    <DropdownMenuSelection/>
  </demo-box>
  <demo-box title="Danger action">
    <DropdownMenuDanger/>
  </demo-box>
</component-page>
