import Default from "../../../demos/collapsible/default.marko";
import Settings from "../../../demos/collapsible/settings.marko";
import Disabled from "../../../demos/collapsible/disabled.marko";
import Controlled from "../../../demos/collapsible/controlled.marko";

<component-page title="Collapsible" description="An interactive component which expands/collapses a panel.">
  <demo-box title="Default">
    <Default/>
  </demo-box>

  <demo-box title="Settings Panel">
    <Settings/>
  </demo-box>

  <demo-box title="Disabled">
    <Disabled/>
  </demo-box>

  <demo-box title="Controlled">
    <Controlled/>
  </demo-box>
</component-page>
