import Breadcrumb from "@marko-ui/shadcn/ui/breadcrumb/breadcrumb.marko";
import BreadcrumbEllipsis from "@marko-ui/shadcn/ui/breadcrumb/ellipsis.marko";
import BreadcrumbItem from "@marko-ui/shadcn/ui/breadcrumb/item.marko";
import BreadcrumbLink from "@marko-ui/shadcn/ui/breadcrumb/link.marko";
import BreadcrumbPage from "@marko-ui/shadcn/ui/breadcrumb/page.marko";
import BreadcrumbSeparator from "@marko-ui/shadcn/ui/breadcrumb/separator.marko";

<Breadcrumb>
  <BreadcrumbItem>
    <BreadcrumbLink href="/">Home</BreadcrumbLink>
  </BreadcrumbItem>
  <BreadcrumbSeparator/>
  <BreadcrumbItem>
    <BreadcrumbEllipsis/>
  </BreadcrumbItem>
  <BreadcrumbSeparator/>
  <BreadcrumbItem>
    <BreadcrumbLink href="/docs/components">Components</BreadcrumbLink>
  </BreadcrumbItem>
  <BreadcrumbSeparator/>
  <BreadcrumbItem>
    <BreadcrumbPage>Breadcrumb</BreadcrumbPage>
  </BreadcrumbItem>
</Breadcrumb>
