import Breadcrumb from "@marko-ui/shadcn/ui/breadcrumb/breadcrumb.marko";
import BreadcrumbEllipsis from "@marko-ui/shadcn/ui/breadcrumb/ellipsis.marko";
import BreadcrumbItem from "@marko-ui/shadcn/ui/breadcrumb/item.marko";
import BreadcrumbLink from "@marko-ui/shadcn/ui/breadcrumb/link.marko";
import BreadcrumbPage from "@marko-ui/shadcn/ui/breadcrumb/page.marko";
import BreadcrumbSeparator from "@marko-ui/shadcn/ui/breadcrumb/separator.marko";
import Button from "@marko-ui/shadcn/ui/button/button.marko";
import DropdownMenu from "@marko-ui/shadcn/ui/dropdown-menu/dropdown-menu.marko";

static const ITEMS = [
  { value: "documentation", label: "Documentation" },
  { value: "themes", label: "Themes" },
  { value: "github", label: "GitHub" },
];

<Breadcrumb>
  <BreadcrumbItem>
    <BreadcrumbLink href="#">Home</BreadcrumbLink>
  </BreadcrumbItem>
  <BreadcrumbSeparator/>
  <BreadcrumbItem>
    <DropdownMenu items=ITEMS>
      <@trigger|triggerProps|>
        <Button ...triggerProps variant="ghost" size="icon-sm">
          <BreadcrumbEllipsis/>
          <span class="sr-only">Toggle menu</span>
        </Button>
      </@trigger>
    </DropdownMenu>
  </BreadcrumbItem>
  <BreadcrumbSeparator/>
  <BreadcrumbItem>
    <BreadcrumbLink href="#">Components</BreadcrumbLink>
  </BreadcrumbItem>
  <BreadcrumbSeparator/>
  <BreadcrumbItem>
    <BreadcrumbPage>Breadcrumb</BreadcrumbPage>
  </BreadcrumbItem>
</Breadcrumb>
