import Default from "../../../demos/aspect-ratio/default.marko";
import Square from "../../../demos/aspect-ratio/square.marko";
import Portrait from "../../../demos/aspect-ratio/portrait.marko";
import ContentCard from "../../../demos/aspect-ratio/content-card.marko";
import UltrawideBanner from "../../../demos/aspect-ratio/ultrawide-banner.marko";

<component-page title="Aspect Ratio" description="Displays content within a desired ratio.">
  <demo-box title="16 / 9 (default image)">
    <Default/>
  </demo-box>
  <demo-box title="1 / 1 (square)">
    <Square/>
  </demo-box>
  <demo-box title="9 / 16 (portrait)">
    <Portrait/>
  </demo-box>
  <demo-box title="4 / 3 (content card)">
    <ContentCard/>
  </demo-box>
  <demo-box title="21 / 9 (ultrawide banner)">
    <UltrawideBanner/>
  </demo-box>
</component-page>
