import PasswordInputDemo from "../../../demos/password-input/password-input-demo.marko";
import PasswordInputNewPassword from "../../../demos/password-input/password-input-new-password.marko";
import PasswordInputDisabled from "../../../demos/password-input/password-input-disabled.marko";
import PasswordInputInvalid from "../../../demos/password-input/password-input-invalid.marko";
import PasswordInputControlled from "../../../demos/password-input/password-input-controlled.marko";

<component-page title="Password Input" description="A password input field with a visibility toggle button and correct autocomplete handling.">
  <demo-box title="Default">
    <PasswordInputDemo/>
  </demo-box>
  <demo-box title="New password">
    <PasswordInputNewPassword/>
  </demo-box>
  <demo-box title="Disabled">
    <PasswordInputDisabled/>
  </demo-box>
  <demo-box title="Invalid">
    <PasswordInputInvalid/>
  </demo-box>
  <demo-box title="Controlled">
    <PasswordInputControlled/>
  </demo-box>
</component-page>
