node_modules/
dist/
.marko-run/
coverage/
*.log
.DS_Store
apps/docs/public/r/
tsconfig.tsbuildinfo
test-results/
packages/registry/styles-gen/
packages/core/ui/
packages/core/lib/
packages/core/styles/
