import Table from "@marko-ui/shadcn/ui/table/table.marko";
import TableHeader from "@marko-ui/shadcn/ui/table/header.marko";
import TableBody from "@marko-ui/shadcn/ui/table/body.marko";
import TableRow from "@marko-ui/shadcn/ui/table/row.marko";
import TableHead from "@marko-ui/shadcn/ui/table/head.marko";
import TableCell from "@marko-ui/shadcn/ui/table/cell.marko";

<Table>
  <TableHeader>
    <TableRow>
      <TableHead>Invoice</TableHead>
      <TableHead>Status</TableHead>
      <TableHead class="text-right">Amount</TableHead>
    </TableRow>
  </TableHeader>
  <TableBody>
    <TableRow data-state="selected">
      <TableCell class="font-medium">INV001</TableCell>
      <TableCell>Paid</TableCell>
      <TableCell class="text-right">$250.00</TableCell>
    </TableRow>
    <TableRow>
      <TableCell class="font-medium">INV002</TableCell>
      <TableCell>Pending</TableCell>
      <TableCell class="text-right">$150.00</TableCell>
    </TableRow>
  </TableBody>
</Table>
