import LabelDemo from "../../../demos/label/label-demo.marko";
import InputWithLabel from "../../../demos/label/input-with-label.marko";
import Required from "../../../demos/label/required.marko";
import Disabled from "../../../demos/label/disabled.marko";

<component-page title="Label" description="Renders an accessible label associated with a control.">
  <demo-box title="Basic">
    <LabelDemo/>
  </demo-box>
  <demo-box title="With input">
    <InputWithLabel/>
  </demo-box>
  <demo-box title="Required field">
    <Required/>
  </demo-box>
  <demo-box title="Disabled">
    <Disabled/>
  </demo-box>
</component-page>
