import TooltipDemo from "../../../demos/tooltip/tooltip-demo.marko";
import TooltipPositioning from "../../../demos/tooltip/tooltip-positioning.marko";
import TooltipDelay from "../../../demos/tooltip/tooltip-delay.marko";

<component-page title="Tooltip" description="A popup that displays information related to an element when it receives keyboard focus or the mouse hovers over it.">
  <demo-box title="Default">
    <TooltipDemo/>
  </demo-box>
  <demo-box title="Positioning">
    <TooltipPositioning/>
  </demo-box>
  <demo-box title="Custom delay">
    <TooltipDelay/>
  </demo-box>
</component-page>
