import DataTableDemo from "../../../demos/data-table/data-table-demo.marko";
import Sorting from "../../../demos/data-table/sorting.marko";
import FormattedCells from "../../../demos/data-table/formatted-cells.marko";
import Empty from "../../../demos/data-table/empty.marko";

<component-page title="Data Table" description="Powerful table and datagrids built using TanStack Table.">
  <demo-box title="Default">
    <DataTableDemo/>
  </demo-box>
  <demo-box title="Sorting">
    <Sorting/>
  </demo-box>
  <demo-box title="Cell formatting">
    <FormattedCells/>
  </demo-box>
  <demo-box title="Empty">
    <Empty/>
  </demo-box>
</component-page>
