import Default from "../../../demos/card/default.marko";
import Composition from "../../../demos/card/full-composition.marko";
import Action from "../../../demos/card/action.marko";
import BorderFooter from "../../../demos/card/border-footer.marko";
import ContentOnly from "../../../demos/card/content-only.marko";

<component-page title="Card" description="Displays a card with header, content, and footer.">
  <demo-box title="Login form">
    <Default/>
  </demo-box>

  <demo-box title="Composition">
    <Composition/>
  </demo-box>

  <demo-box title="With action">
    <Action/>
  </demo-box>

  <demo-box title="With border">
    <BorderFooter/>
  </demo-box>

  <demo-box title="Content only">
    <ContentOnly/>
  </demo-box>
</component-page>
