import Default from "../../../demos/scroll-area/default.marko";
import Horizontal from "../../../demos/scroll-area/horizontal.marko";

<component-page title="Scroll Area" description="Augments native scroll functionality for custom, cross-browser styling.">
  <demo-box title="Default">
    <Default/>
  </demo-box>
  <demo-box title="Horizontal scrolling">
    <Horizontal/>
  </demo-box>
</component-page>
