import Tooltip from "@marko-ui/registry/ui/tooltip/tooltip.marko";
import Button from "@marko-ui/registry/ui/button/button.marko";

<Tooltip content="Add to library">
  <@trigger|props|>
    <Button ...props variant="outline">Hover me</Button>
  </@trigger>
</Tooltip>
