import Tooltip from "@marko-ui/shadcn/ui/tooltip/tooltip.marko";
import Button from "@marko-ui/shadcn/ui/button/button.marko";

<Tooltip>
  <@trigger|props|>
    <span ...props class="inline-block w-fit">
      <Button variant="outline" disabled>Disabled</Button>
    </span>
  </@trigger>
  <@content>
    <p>This feature is currently unavailable</p>
  </@content>
</Tooltip>
