import Alert from "@marko-ui/shadcn/ui/alert/alert.marko";
import AlertTitle from "@marko-ui/shadcn/ui/alert/title.marko";
import AlertDescription from "@marko-ui/shadcn/ui/alert/description.marko";

<Alert>
  <AlertTitle>Deployment scheduled</AlertTitle>
  <AlertDescription>Your changes will go live in the next release window.</AlertDescription>
</Alert>
