import Alert from "@marko-ui/shadcn/ui/alert/alert.marko";
import AlertAction from "@marko-ui/shadcn/ui/alert/action.marko";
import AlertTitle from "@marko-ui/shadcn/ui/alert/title.marko";
import AlertDescription from "@marko-ui/shadcn/ui/alert/description.marko";
import Button from "@marko-ui/shadcn/ui/button/button.marko";

<Alert class="max-w-md">
  <AlertTitle>Dark mode is now available</AlertTitle>
  <AlertDescription>
    Enable it under your profile settings to get started.
  </AlertDescription>
  <AlertAction>
    <Button size="xs" variant="default">Enable</Button>
  </AlertAction>
</Alert>
