import PopoverDemo from "../../../demos/popover/popover-demo.marko";
import PopoverPlacement from "../../../demos/popover/popover-placement.marko";
import PopoverControlled from "../../../demos/popover/popover-controlled.marko";

<component-page title="Popover" description="Displays rich content in a portal, triggered by a button.">
  <demo-box title="Default">
    <PopoverDemo/>
  </demo-box>

  <demo-box title="Placement">
    <PopoverPlacement/>
  </demo-box>

  <demo-box title="Controlled">
    <PopoverControlled/>
  </demo-box>
</component-page>
