import DrawerDemo from "../../../demos/drawer/drawer-demo.marko";
import DrawerNoFooter from "../../../demos/drawer/drawer-no-footer.marko";
import DrawerSnapPoints from "../../../demos/drawer/drawer-snap-points.marko";
import DrawerSides from "../../../demos/drawer/drawer-sides.marko";

<component-page title="Drawer" description="A vaul-style bottom sheet built on the @zag-js/drawer machine: drag-to-dismiss, snap points, grab handle, and swipe-to-open edge areas.">
  <demo-box title="Default">
    <DrawerDemo/>
  </demo-box>

  <demo-box title="Without footer">
    <DrawerNoFooter/>
  </demo-box>

  <demo-box title="Snap points">
    <DrawerSnapPoints/>
  </demo-box>

  <demo-box title="Swipe direction: right">
    <DrawerSides/>
  </demo-box>
</component-page>
