import SignaturePadDemo from "../../../demos/signature-pad/signature-pad-demo.marko";
import SignaturePadForm from "../../../demos/signature-pad/signature-pad-form.marko";
import SignaturePadDisabled from "../../../demos/signature-pad/signature-pad-disabled.marko";
import SignaturePadControlled from "../../../demos/signature-pad/signature-pad-controlled.marko";

<component-page title="Signature Pad" description="A draw-to-sign pad for capturing handwritten signatures via pointer input.">
  <demo-box title="Default">
    <SignaturePadDemo/>
  </demo-box>
  <demo-box title="With name (form value)">
    <SignaturePadForm/>
  </demo-box>
  <demo-box title="Disabled">
    <SignaturePadDisabled/>
  </demo-box>
  <demo-box title="Controlled draw-end">
    <SignaturePadControlled/>
  </demo-box>
</component-page>
