import Calendar from "@marko-ui/registry/ui/calendar/index.marko";

<component-page title="Calendar" description="An inline, always-open date field component that allows users to select a date.">
  <demo-box title="Default">
    <Calendar/>
  </demo-box>
  <demo-box title="With initial value">
    <Calendar value=[{ year: 2026, month: 8, day: 10 }]/>
  </demo-box>
</component-page>
