import InputGroup from "@marko-ui/registry/ui/input-group/input-group.marko";
import InputGroupTextarea from "@marko-ui/registry/ui/input-group/textarea.marko";
import InputGroupAddon from "@marko-ui/registry/ui/input-group/addon.marko";
import InputGroupText from "@marko-ui/registry/ui/input-group/text.marko";

<InputGroup>
  <InputGroupAddon align="block-start">
    <InputGroupText>Comment</InputGroupText>
  </InputGroupAddon>
  <InputGroupTextarea placeholder="Write your comment here..." />
</InputGroup>
