// Kept as a lightweight smoke-test route: renders the same demo files that
// back /docs/components/skeleton (see apps/docs/src/demos/skeleton/) so
// nothing is duplicated between the two.
import Demo from "../../../demos/skeleton/skeleton-demo.marko";
import Card from "../../../demos/skeleton/skeleton-card.marko";
import Text from "../../../demos/skeleton/skeleton-text.marko";
import Table from "../../../demos/skeleton/skeleton-table.marko";

export interface Input {}

<component-page title="Skeleton" description="Use to show a placeholder while content is loading.">
  <demo-box title="Default">
    <Demo/>
  </demo-box>
  <demo-box title="Card">
    <Card/>
  </demo-box>
  <demo-box title="Text lines">
    <Text/>
  </demo-box>
  <demo-box title="Table">
    <Table/>
  </demo-box>
</component-page>
