import Skeleton from "@marko-ui/registry/ui/skeleton/index.marko";

<component-page title="Skeleton" description="Use to show a placeholder while content is loading.">
  <demo-box title="Default">
    <div class="flex items-center space-x-4">
      <Skeleton class="h-12 w-12 rounded-full"/>
      <div class="space-y-2">
        <Skeleton class="h-4 w-[250px]"/>
        <Skeleton class="h-4 w-[200px]"/>
      </div>
    </div>
  </demo-box>
  <demo-box title="Card">
    <div class="flex flex-col space-y-3">
      <Skeleton class="h-[125px] w-[250px] rounded-xl"/>
      <div class="space-y-2">
        <Skeleton class="h-4 w-[250px]"/>
        <Skeleton class="h-4 w-[200px]"/>
      </div>
    </div>
  </demo-box>
  <demo-box title="Text lines">
    <div class="space-y-2 w-[300px]">
      <Skeleton class="h-4 w-full"/>
      <Skeleton class="h-4 w-full"/>
      <Skeleton class="h-4 w-3/4"/>
    </div>
  </demo-box>
</component-page>
