import ColorPickerDemo from "../../../demos/color-picker/color-picker-demo.marko";
import ColorPickerSwatches from "../../../demos/color-picker/color-picker-swatches.marko";
import ColorPickerHsl from "../../../demos/color-picker/color-picker-hsl.marko";
import ColorPickerControlled from "../../../demos/color-picker/color-picker-controlled.marko";
import ColorPickerDisabled from "../../../demos/color-picker/color-picker-disabled.marko";

<component-page
  title="Color Picker"
  description="Pick a color from a saturation area, channel sliders, channel inputs, the screen eyedropper or a preset swatch."
>
  <demo-box title="Default">
    <ColorPickerDemo/>
  </demo-box>

  <demo-box title="With swatch presets">
    <ColorPickerSwatches/>
  </demo-box>

  <demo-box title="HSL format, no eyedropper">
    <ColorPickerHsl/>
  </demo-box>

  <demo-box title="Controlled">
    <ColorPickerControlled/>
  </demo-box>

  <demo-box title="Disabled">
    <ColorPickerDisabled/>
  </demo-box>
</component-page>
