import AlertDialog from "@marko-ui/registry/ui/alert-dialog/alert-dialog.marko";
import Button from "@marko-ui/registry/ui/button/button.marko";

<AlertDialog
  cancelText="No, keep it"
  actionText="Yes, delete it"
  action=() => { console.log("deleted"); }
>
  <@trigger|props|>
    <Button ...props variant="destructive">Delete account</Button>
  </@trigger>
  <@title>Delete account</@title>
  <@description>
    This will permanently delete your account. This action is irreversible.
  </@description>
</AlertDialog>
