import Default from "../../../demos/cascade-select/default.marko";
import DefaultValue from "../../../demos/cascade-select/default-value.marko";
import DisabledItems from "../../../demos/cascade-select/disabled-items.marko";
import Controlled from "../../../demos/cascade-select/controlled.marko";
import Disabled from "../../../demos/cascade-select/disabled.marko";

<component-page title="Cascade Select" description="A hierarchical select with cascading panels for drilling down through nested options, e.g. Region > Country > City.">
  <demo-box title="Default">
    <Default/>
  </demo-box>
  <demo-box title="With default value">
    <DefaultValue/>
  </demo-box>
  <demo-box title="Disabled items">
    <DisabledItems/>
  </demo-box>
  <demo-box title="Controlled">
    <Controlled/>
  </demo-box>
  <demo-box title="Disabled">
    <Disabled/>
  </demo-box>
</component-page>
