import MarqueeDemo from "../../../demos/marquee/marquee-demo.marko";
import MarqueeReverse from "../../../demos/marquee/marquee-reverse.marko";
import MarqueeSpeed from "../../../demos/marquee/marquee-speed.marko";
import MarqueeVertical from "../../../demos/marquee/marquee-vertical.marko";
import MarqueeAutoFill from "../../../demos/marquee/marquee-auto-fill.marko";
import MarqueeControlled from "../../../demos/marquee/marquee-controlled.marko";

<component-page title="Marquee" description="A continuously scrolling strip of content that pauses on hover.">
  <demo-box title="Default">
    <MarqueeDemo/>
  </demo-box>
  <demo-box title="Reverse direction">
    <MarqueeReverse/>
  </demo-box>
  <demo-box title="Fast speed">
    <MarqueeSpeed/>
  </demo-box>
  <demo-box title="Vertical">
    <MarqueeVertical/>
  </demo-box>
  <demo-box title="Auto fill">
    <MarqueeAutoFill/>
  </demo-box>
  <demo-box title="Controlled">
    <MarqueeControlled/>
  </demo-box>
</component-page>
