// Ported from shadcn registry/bases/base/blocks/preview/cards/contributors.tsx
import Avatar from "@marko-ui/shadcn/ui/avatar/avatar.marko";
import Badge from "@marko-ui/shadcn/ui/badge/badge.marko";
import Card from "@marko-ui/shadcn/ui/card/card.marko";
import CardContent from "@marko-ui/shadcn/ui/card/content.marko";
import CardFooter from "@marko-ui/shadcn/ui/card/footer.marko";
import CardHeader from "@marko-ui/shadcn/ui/card/header.marko";
import CardTitle from "@marko-ui/shadcn/ui/card/title.marko";

static const USERNAMES = [
  "shadcn",
  "vercel",
  "nextjs",
  "tailwindlabs",
  "typescript-lang",
  "eslint",
  "prettier",
  "babel",
  "webpack",
  "rollup",
  "parcel",
  "vite",
  "react",
  "vue",
  "angular",
  "solid",
];

<Card class="max-w-sm">
  <CardHeader>
    <CardTitle>
      Contributors <Badge variant="secondary">312</Badge>
    </CardTitle>
  </CardHeader>
  <CardContent>
    <div class="flex flex-wrap gap-2">
      <for|username| of=USERNAMES by=(username) => username>
        <Avatar
          class="grayscale"
          src=`https://github.com/${username}.png`
          alt=username
          fallback=username.charAt(0).toUpperCase()
        />
      </for>
    </div>
  </CardContent>
  <CardFooter>
    <a href="#" class="text-sm underline underline-offset-4">
      + 810 contributors
    </a>
  </CardFooter>
</Card>
