import NumberInputDemo from "../../../demos/number-input/number-input-demo.marko";
import NumberInputMinMaxStep from "../../../demos/number-input/number-input-min-max-step.marko";
import NumberInputDisabled from "../../../demos/number-input/number-input-disabled.marko";
import NumberInputControlled from "../../../demos/number-input/number-input-controlled.marko";

<component-page title="Number Input" description="A number input with increment/decrement steppers, min/max/step constraints, and a scrub area.">
  <demo-box title="Default">
    <NumberInputDemo/>
  </demo-box>
  <demo-box title="Min / max / step">
    <NumberInputMinMaxStep/>
  </demo-box>
  <demo-box title="Disabled">
    <NumberInputDisabled/>
  </demo-box>
  <demo-box title="Controlled">
    <NumberInputControlled/>
  </demo-box>
</component-page>
