import InputDemo from "../../../demos/input/input-demo.marko";
import InputLabel from "../../../demos/input/input-label.marko";
import InputDisabled from "../../../demos/input/input-disabled.marko";
import InputValue from "../../../demos/input/input-value.marko";
import InputInvalid from "../../../demos/input/input-invalid.marko";
import InputFile from "../../../demos/input/input-file.marko";
import InputNumber from "../../../demos/input/input-number.marko";
import InputPassword from "../../../demos/input/input-password.marko";

<component-page title="Input" description="Displays a form input field or a component that looks like an input field.">
  <demo-box title="Default">
    <InputDemo/>
  </demo-box>
  <demo-box title="With label">
    <InputLabel/>
  </demo-box>
  <demo-box title="Disabled">
    <InputDisabled/>
  </demo-box>
  <demo-box title="With value">
    <InputValue/>
  </demo-box>
  <demo-box title="Invalid">
    <InputInvalid/>
  </demo-box>
  <demo-box title="File">
    <InputFile/>
  </demo-box>
  <demo-box title="Number">
    <InputNumber/>
  </demo-box>
  <demo-box title="Password">
    <InputPassword/>
  </demo-box>
</component-page>
