import DateInputDemo from "../../../demos/date-input/date-input-demo.marko";
import DateInputValue from "../../../demos/date-input/date-input-value.marko";
import DateInputLocale from "../../../demos/date-input/date-input-locale.marko";
import DateInputDisabled from "../../../demos/date-input/date-input-disabled.marko";
import DateInputRange from "../../../demos/date-input/date-input-range.marko";
import DateInputControlled from "../../../demos/date-input/date-input-controlled.marko";

<component-page title="Date Input" description="A segmented date input with keyboard editing and locale-aware formatting.">
  <demo-box title="Default">
    <DateInputDemo/>
  </demo-box>
  <demo-box title="With value">
    <DateInputValue/>
  </demo-box>
  <demo-box title="Custom locale">
    <DateInputLocale/>
  </demo-box>
  <demo-box title="Disabled">
    <DateInputDisabled/>
  </demo-box>
  <demo-box title="Date range">
    <DateInputRange/>
  </demo-box>
  <demo-box title="Controlled">
    <DateInputControlled/>
  </demo-box>
</component-page>
