import SheetDemo from "../../../demos/sheet/sheet-demo.marko";
import SheetSide from "../../../demos/sheet/sheet-side.marko";
import SheetControlled from "../../../demos/sheet/sheet-controlled.marko";

<component-page title="Sheet" description="Extends the Dialog component to display content that complements the main content of the screen.">
  <demo-box title="Right (default)">
    <SheetDemo/>
  </demo-box>

  <demo-box title="Sides">
    <SheetSide/>
  </demo-box>

  <demo-box title="Controlled">
    <SheetControlled/>
  </demo-box>
</component-page>
