import Popover from "@marko-ui/shadcn/ui/popover/popover.marko";
import Button from "@marko-ui/shadcn/ui/button/button.marko";

<Popover>
  <@trigger|props|>
    <Button ...props variant="outline">Open popover</Button>
  </@trigger>
  <@title>
    <h4 class="leading-none font-medium">Dimensions</h4>
  </@title>
  <@description>
    <p class="text-muted-foreground text-sm">
      Set the dimensions for the layer.
    </p>
  </@description>
  <div class="grid gap-2">
  </div>
</Popover>
