import Popover from "@marko-ui/registry/ui/popover/popover.marko";
import Button from "@marko-ui/registry/ui/button/button.marko";

<Popover>
  <@trigger|props|>
    <Button ...props variant="outline">Open popover</Button>
  </@trigger>
  <@content>
    <div class="grid gap-2">
      <h4 class="leading-none font-medium">Dimensions</h4>
      <p class="text-muted-foreground text-sm">
        Set the dimensions for the layer.
      </p>
    </div>
  </@content>
</Popover>
