import Default from "../../../demos/pagination/default.marko";
import SiblingCount from "../../../demos/pagination/sibling-count.marko";
import FewPages from "../../../demos/pagination/few-pages.marko";
import Controlled from "../../../demos/pagination/controlled.marko";

<component-page title="Pagination" description="Pagination with page navigation, next and previous links.">
  <demo-box title="Default">
    <Default/>
  </demo-box>

  <demo-box title="Sibling count">
    <SiblingCount/>
  </demo-box>

  <demo-box title="Few pages (no ellipsis)">
    <FewPages/>
  </demo-box>

  <demo-box title="Controlled">
    <Controlled/>
  </demo-box>
</component-page>
