import PasswordInput from "@marko-ui/shadcn/ui/password-input/password-input.marko";

<PasswordInput
  label="New password"
  placeholder="Create a password"
  name="new-password"
  autoComplete="new-password"
  class="w-[320px]"
/>
