import ToggleGroup from "@marko-ui/registry/ui/toggle-group/toggle-group.marko";

static const ALIGNMENT = [
  { value: "left", label: "Left" },
  { value: "center", label: "Center" },
  { value: "right", label: "Right" },
];

<ToggleGroup items=ALIGNMENT value=["left"] disabled/>
