import ToggleGroup from "@marko-ui/registry/ui/toggle-group/toggle-group.marko";

<ToggleGroup value=["center"]>
  <@item value="left">Left</@item>
  <@item value="center">Center</@item>
  <@item value="right">Right</@item>
</ToggleGroup>
