import Marker from "@marko-ui/shadcn/ui/marker/marker.marko";
import MarkerIcon from "@marko-ui/shadcn/ui/marker/icon.marko";
import MarkerContent from "@marko-ui/shadcn/ui/marker/content.marko";
import Icon from "@marko-ui/shadcn/ui/icon/icon.marko";

<div class="flex w-full max-w-sm flex-col gap-12 py-12">
  <Marker>
    <MarkerIcon>
      <Icon name="GitBranchIcon"/>
    </MarkerIcon>
    <MarkerContent>Switched to a new branch</MarkerContent>
  </Marker>
  <Marker variant="separator">
    <MarkerIcon>
      <Icon name="Search"/>
    </MarkerIcon>
    <MarkerContent>Explored 4 files</MarkerContent>
  </Marker>
  <Marker class="flex-col">
    <MarkerIcon>
      <Icon name="BookOpenIcon"/>
    </MarkerIcon>
    <MarkerContent>Syncing completed</MarkerContent>
  </Marker>
</div>
