import Button from "@marko-ui/shadcn/ui/button/button.marko";
import ButtonGroup from "@marko-ui/shadcn/ui/button-group/button-group.marko";
import Tooltip from "@marko-ui/shadcn/ui/tooltip/tooltip.marko";
import Kbd from "@marko-ui/shadcn/ui/kbd/kbd.marko";
import KbdGroup from "@marko-ui/shadcn/ui/kbd/group.marko";

<div class="flex flex-wrap gap-4">
  <ButtonGroup>
    <Tooltip>
      <@trigger|props|>
        <Button ...props size="sm" variant="outline">Save</Button>
      </@trigger>
      Save Changes
      <Kbd>S</Kbd>
    </Tooltip>
    <Tooltip>
      <@trigger|props|>
        <Button ...props size="sm" variant="outline">Print</Button>
      </@trigger>
      Print Document
      <KbdGroup>
        <Kbd>Ctrl</Kbd>
        <Kbd>P</Kbd>
      </KbdGroup>
    </Tooltip>
  </ButtonGroup>
</div>
