import DatePickerDemo from "../../../demos/date-picker/date-picker-demo.marko";
import DatePickerValue from "../../../demos/date-picker/date-picker-value.marko";
import DatePickerControlled from "../../../demos/date-picker/date-picker-controlled.marko";
import DatePickerDisabled from "../../../demos/date-picker/date-picker-disabled.marko";
import DatePickerReadOnly from "../../../demos/date-picker/date-picker-read-only.marko";
import DatePickerLocale from "../../../demos/date-picker/date-picker-locale.marko";

<component-page title="Date Picker" description="A popover-style date field that combines a text input and a calendar for selecting a date.">
  <demo-box title="Default">
    <DatePickerDemo/>
  </demo-box>
  <demo-box title="With value">
    <DatePickerValue/>
  </demo-box>
  <demo-box title="Controlled">
    <DatePickerControlled/>
  </demo-box>
  <demo-box title="Disabled">
    <DatePickerDisabled/>
  </demo-box>
  <demo-box title="Read-only">
    <DatePickerReadOnly/>
  </demo-box>
  <demo-box title="Custom locale">
    <DatePickerLocale/>
  </demo-box>
</component-page>
