import DatePicker from "@marko-ui/registry/ui/date-picker/date-picker.marko";

<component-page title="Date Picker" description="A popover-style date field that combines a text input and a calendar for selecting a date.">
  <demo-box title="Default">
    <DatePicker/>
  </demo-box>
  <demo-box title="With value">
    <DatePicker value="2026-08-10"/>
  </demo-box>
  <demo-box title="Custom locale">
    <DatePicker locale="fr-FR"/>
  </demo-box>
</component-page>
