import FileUploadDemo from "../../../demos/file-upload/file-upload-demo.marko";
import FileUploadAccept from "../../../demos/file-upload/file-upload-accept.marko";
import FileUploadMaxSize from "../../../demos/file-upload/file-upload-max-size.marko";
import FileUploadControlled from "../../../demos/file-upload/file-upload-controlled.marko";

<component-page title="File Upload" description="A dropzone and file picker for uploading files.">
  <demo-box title="Default">
    <FileUploadDemo/>
  </demo-box>
  <demo-box title="Accept images only, max 3 files">
    <FileUploadAccept/>
  </demo-box>
  <demo-box title="Max file size (1 MB)">
    <FileUploadMaxSize/>
  </demo-box>
  <demo-box title="With change callback">
    <FileUploadControlled/>
  </demo-box>
</component-page>
