import Resizable from "@marko-ui/shadcn/ui/resizable/resizable.marko";

static const OUTER_PANELS = [
  { id: "one", defaultSize: 50 },
  { id: "two", defaultSize: 50 },
];

static const INNER_PANELS = [
  { id: "two-a", defaultSize: 25 },
  { id: "two-b", defaultSize: 75 },
];

<Resizable panels=OUTER_PANELS class="max-w-md rounded-lg border md:min-w-[450px]">
  <@content|panel|>
    <if=panel.id === "one">
      <div class="flex h-[200px] items-center justify-center p-6">
        <span class="font-semibold">One</span>
      </div>
    </if>
    <else>
      <Resizable panels=INNER_PANELS orientation="vertical">
        <@content|innerPanel|>
          <div class="flex h-full items-center justify-center p-6">
            <span class="font-semibold">${innerPanel.id === "two-a" ? "Two" : "Three"}</span>
          </div>
        </@content>
      </Resizable>
    </else>
  </@content>
</Resizable>
