import Field from "@marko-ui/shadcn/ui/field/field.marko";
import FieldGroup from "@marko-ui/shadcn/ui/field/field-group.marko";
import FieldLabel from "@marko-ui/shadcn/ui/field/field-label.marko";
import Switch from "@marko-ui/shadcn/ui/switch/switch.marko";

<div class="w-full max-w-40">
  <FieldGroup>
    <Field orientation="horizontal">
      <Switch id="switch-size-sm" size="sm"/>
      <FieldLabel for="switch-size-sm">Small</FieldLabel>
    </Field>
    <Field orientation="horizontal">
      <Switch id="switch-size-default" size="default"/>
      <FieldLabel for="switch-size-default">Default</FieldLabel>
    </Field>
  </FieldGroup>
</div>
