import TocDemo from "../../../demos/toc/toc-demo.marko";
import TocWithTitle from "../../../demos/toc/toc-with-title.marko";
import TocNested from "../../../demos/toc/toc-nested.marko";
import TocControlled from "../../../demos/toc/toc-controlled.marko";

<component-page title="Table of Contents" description="Tracks headings in a scroll container, highlights the active section while scrolling, and smooth-scrolls to a heading on click.">
  <demo-box title="Default">
    <TocDemo/>
  </demo-box>
  <demo-box title="With title">
    <TocWithTitle/>
  </demo-box>
  <demo-box title="Nested headings">
    <TocNested/>
  </demo-box>
  <demo-box title="Controlled">
    <TocControlled/>
  </demo-box>
</component-page>
