import Demo from "../../../demos/input-otp/input-otp-demo.marko";
import DemoSeparator from "../../../demos/input-otp/input-otp-separator.marko";
import DemoMasked from "../../../demos/input-otp/input-otp-masked.marko";
import DemoDisabled from "../../../demos/input-otp/input-otp-disabled.marko";
import DemoControlled from "../../../demos/input-otp/input-otp-controlled.marko";

<component-page title="Input OTP" description="Accessible one-time password component with copy paste functionality.">
  <demo-box title="Default">
    <Demo/>
  </demo-box>
  <demo-box title="Grouped">
    <DemoSeparator/>
  </demo-box>
  <demo-box title="Masked">
    <DemoMasked/>
  </demo-box>
  <demo-box title="Disabled">
    <DemoDisabled/>
  </demo-box>
  <demo-box title="Controlled">
    <DemoControlled/>
  </demo-box>
</component-page>
