import Label from "@marko-ui/shadcn/ui/label/label.marko";

<div class="group flex items-center gap-2" data-disabled="true">
  <input id="disabled-terms" type="checkbox" disabled class="peer"/>
  <Label for="disabled-terms">Accept terms and conditions</Label>
</div>
