import Input from "@marko-ui/registry/ui/input/input.marko";
import Label from "@marko-ui/registry/ui/label/label.marko";

<div class="grid w-full max-w-sm items-center gap-3">
  <Label for="username">
    Username <span class="text-destructive">*</span>
  </Label>
  <Input id="username" type="text" placeholder="jdoe"/>
</div>
