import Card from "@marko-ui/registry/ui/card/card.marko";
import CardHeader from "@marko-ui/registry/ui/card/header.marko";
import CardTitle from "@marko-ui/registry/ui/card/title.marko";
import CardDescription from "@marko-ui/registry/ui/card/description.marko";
import CardContent from "@marko-ui/registry/ui/card/content.marko";
import CardFooter from "@marko-ui/registry/ui/card/footer.marko";
import Button from "@marko-ui/registry/ui/button/button.marko";

<Card class="w-full max-w-sm">
  <CardHeader class="border-b">
    <CardTitle>Payment method</CardTitle>
    <CardDescription>Add a new payment method to your account.</CardDescription>
  </CardHeader>
  <CardContent>
    <p>Card details form would go here.</p>
  </CardContent>
  <CardFooter class="border-t">
    <Button class="w-full">Save card</Button>
  </CardFooter>
</Card>
