import DefaultDemo from "../../../demos/toggle/default.marko";
import OutlineDemo from "../../../demos/toggle/outline.marko";
import SizesDemo from "../../../demos/toggle/sizes.marko";
import DisabledDemo from "../../../demos/toggle/disabled.marko";
import ControlledDemo from "../../../demos/toggle/controlled.marko";

<component-page title="Toggle" description="A two-state button that can be either on or off.">
  <demo-box title="Default">
    <DefaultDemo/>
  </demo-box>
  <demo-box title="Outline">
    <OutlineDemo/>
  </demo-box>
  <demo-box title="Sizes">
    <SizesDemo/>
  </demo-box>
  <demo-box title="Disabled">
    <DisabledDemo/>
  </demo-box>
  <demo-box title="Controlled">
    <ControlledDemo/>
  </demo-box>
</component-page>
