import Tabs from "@marko-ui/shadcn/ui/tabs/tabs.marko";

static const ACCOUNT_TABS = [
  { value: "account", label: "Account" },
  { value: "password", label: "Password" },
];

<Tabs|value| items=ACCOUNT_TABS class="w-[400px]">
  <if=(value === "account")>
    <p class="text-muted-foreground text-sm">
      Make changes to your account here. Click save when you're done.
    </p>
  </if>
  <if=(value === "password")>
    <p class="text-muted-foreground text-sm">
      Change your password here. After saving, you'll be logged out.
    </p>
  </if>
</Tabs>
