import Tabs from "@marko-ui/shadcn/ui/tabs/tabs.marko";

<Tabs orientation="vertical">
  <@trigger value="account">Account</@trigger>
  <@trigger value="password">Password</@trigger>
  <@trigger value="notifications">Notifications</@trigger>
</Tabs>
