import Default from "../../../demos/image-cropper/default.marko";
import CircleAspectRatio from "../../../demos/image-cropper/circle-aspect-ratio.marko";
import FixedCropArea from "../../../demos/image-cropper/fixed-crop-area.marko";
import Controlled from "../../../demos/image-cropper/controlled.marko";

<component-page title="Image Cropper" description="An image editor with a draggable, resizable crop region, aspect-ratio lock, zoom, rotation and flip.">
  <demo-box title="Default">
    <Default/>
  </demo-box>

  <demo-box title="Locked 1:1 aspect ratio, circular crop">
    <CircleAspectRatio/>
  </demo-box>

  <demo-box title="Fixed crop area (pan and zoom only)">
    <FixedCropArea/>
  </demo-box>

  <demo-box title="Controlled zoom and rotation">
    <Controlled/>
  </demo-box>
</component-page>
