import Default from "../../../demos/editable/default.marko";
import Placeholder from "../../../demos/editable/placeholder.marko";
import SubmitMode from "../../../demos/editable/submit-mode.marko";
import ActivationMode from "../../../demos/editable/activation-mode.marko";
import Disabled from "../../../demos/editable/disabled.marko";
import CustomTrigger from "../../../demos/editable/custom-trigger.marko";
import Controlled from "../../../demos/editable/controlled.marko";

<component-page title="Editable" description="Inline editable text: preview mode that switches to input on click/focus, submit on Enter/blur, cancel on Escape.">
  <demo-box title="Default">
    <Default/>
  </demo-box>
  <demo-box title="Placeholder">
    <Placeholder/>
  </demo-box>
  <demo-box title="Submit on Enter only">
    <SubmitMode/>
  </demo-box>
  <demo-box title="Activation: double-click">
    <ActivationMode/>
  </demo-box>
  <demo-box title="Disabled">
    <Disabled/>
  </demo-box>
  <demo-box title="Custom trigger">
    <CustomTrigger/>
  </demo-box>
  <demo-box title="Controlled">
    <Controlled/>
  </demo-box>
</component-page>
