import ButtonGroup from "@marko-ui/shadcn/ui/button-group/button-group.marko";
import Button from "@marko-ui/shadcn/ui/button/button.marko";
import Input from "@marko-ui/shadcn/ui/input/input.marko";
import Icon from "@marko-ui/shadcn/ui/icon/icon.marko";

<ButtonGroup>
  <Input placeholder="Search..."/>
  <Button variant="outline" aria-label="Search">
    <Icon name="SearchIcon"/>
  </Button>
</ButtonGroup>
