import ButtonGroup from "@marko-ui/registry/ui/button-group/button-group.marko";
import Button from "@marko-ui/registry/ui/button/button.marko";

<ButtonGroup>
  <Button variant="outline">Back</Button>
  <Button variant="outline">Next</Button>
</ButtonGroup>
