import ButtonGroup from "@marko-ui/shadcn/ui/button-group/button-group.marko";
import ButtonGroupSeparator from "@marko-ui/shadcn/ui/button-group/separator.marko";
import Button from "@marko-ui/shadcn/ui/button/button.marko";

<ButtonGroup>
  <Button variant="secondary" size="sm">Copy</Button>
  <ButtonGroupSeparator/>
  <Button variant="secondary" size="sm">Paste</Button>
</ButtonGroup>
