import ButtonGroup from "@marko-ui/shadcn/ui/button-group/button-group.marko";
import ButtonGroupSeparator from "@marko-ui/shadcn/ui/button-group/separator.marko";
import Button from "@marko-ui/shadcn/ui/button/button.marko";

<ButtonGroup>
  <Button variant="secondary">Button</Button>
  <ButtonGroupSeparator/>
  <Button variant="secondary" size="icon" aria-label="Add">+</Button>
</ButtonGroup>
