import ButtonGroup from "@marko-ui/registry/ui/button-group/button-group.marko";
import ButtonGroupText from "@marko-ui/registry/ui/button-group/text.marko";
import Button from "@marko-ui/registry/ui/button/button.marko";

<ButtonGroup>
  <ButtonGroupText>Page 1 of 10</ButtonGroupText>
  <Button variant="outline">Prev</Button>
  <Button variant="outline">Next</Button>
</ButtonGroup>
