import RadioGroup from "@marko-ui/registry/ui/radio-group/radio-group.marko";

<RadioGroup defaultValue="comfortable">
  <@item value="default">Default</@item>
  <@item value="comfortable">Comfortable</@item>
  <@item value="compact" disabled>Compact</@item>
</RadioGroup>
