import ColorPicker from "@marko-ui/shadcn/ui/color-picker/color-picker.marko";

<ColorPicker defaultValue="hsl(200, 90%, 50%)" defaultFormat="hsla" hideEyeDropper>
  <@label>Background</@label>
</ColorPicker>
