import ProgressDemo from "../../../demos/progress/progress-demo.marko";
import ProgressLabel from "../../../demos/progress/progress-label.marko";
import ProgressMinMax from "../../../demos/progress/progress-min-max.marko";
import ProgressIndeterminate from "../../../demos/progress/progress-indeterminate.marko";
import ProgressControlled from "../../../demos/progress/progress-controlled.marko";

<component-page title="Progress" description="Displays an indicator showing the completion progress of a task, typically displayed as a progress bar.">
  <demo-box title="Default">
    <ProgressDemo/>
  </demo-box>
  <demo-box title="With label">
    <ProgressLabel/>
  </demo-box>
  <demo-box title="Min / Max">
    <ProgressMinMax/>
  </demo-box>
  <demo-box title="Indeterminate">
    <ProgressIndeterminate/>
  </demo-box>
  <demo-box title="Controlled">
    <ProgressControlled/>
  </demo-box>
</component-page>
