import ListboxDemo from "../../../demos/listbox/listbox-demo.marko";
import ListboxMultiple from "../../../demos/listbox/listbox-multiple.marko";
import ListboxDisabled from "../../../demos/listbox/listbox-disabled.marko";
import ListboxControlled from "../../../demos/listbox/listbox-controlled.marko";

<component-page title="Listbox" description="An always-visible list of options with single or multiple selection and keyboard navigation.">
  <demo-box title="Basic">
    <ListboxDemo/>
  </demo-box>
  <demo-box title="Multiple selection">
    <ListboxMultiple/>
  </demo-box>
  <demo-box title="Disabled items">
    <ListboxDisabled/>
  </demo-box>
  <demo-box title="Controlled">
    <ListboxControlled/>
  </demo-box>
</component-page>
