import ComboboxDefault from "../../../demos/combobox/default.marko";
import ComboboxDisabled from "../../../demos/combobox/disabled.marko";
import ComboboxControlled from "../../../demos/combobox/controlled.marko";

<component-page title="Combobox" description="Autocomplete input and command palette with a list of suggestions.">
  <demo-box title="Default">
    <ComboboxDefault/>
  </demo-box>
  <demo-box title="Disabled">
    <ComboboxDisabled/>
  </demo-box>
  <demo-box title="Controlled">
    <ComboboxControlled/>
  </demo-box>
</component-page>
