import Default from "../../../demos/badge/default.marko";
import Variants from "../../../demos/badge/variants.marko";
import Status from "../../../demos/badge/status.marko";
import WithIcon from "../../../demos/badge/with-icon.marko";
import Numeric from "../../../demos/badge/numeric.marko";

<component-page title="Badge" description="Displays a badge or a component that looks like a badge.">
  <demo-box title="Default">
    <Default/>
  </demo-box>
  <demo-box title="Variants">
    <Variants/>
  </demo-box>
  <demo-box title="Status examples">
    <Status/>
  </demo-box>
  <demo-box title="With icon">
    <WithIcon/>
  </demo-box>
  <demo-box title="Numeric">
    <Numeric/>
  </demo-box>
</component-page>
