import CascadeSelect from "@marko-ui/registry/ui/cascade-select/cascade-select.marko";

<CascadeSelect placeholder="Select a fruit" label="Fruit">
  <@option value="apple" label="Apple"/>
  <@option value="banana" label="Banana"/>
  <@option value="cherry" label="Cherry"/>
  <@option value="durian" label="Durian" disabled/>
</CascadeSelect>
