import ItemDemo from "../../../demos/item/item-demo.marko";
import ItemVariant from "../../../demos/item/item-variant.marko";
import ItemSize from "../../../demos/item/item-size.marko";
import ItemIcon from "../../../demos/item/item-icon.marko";
import ItemImage from "../../../demos/item/item-image.marko";
import ItemGroupDemo from "../../../demos/item/item-group.marko";
import ItemHeaderDemo from "../../../demos/item/item-header.marko";
import ItemLink from "../../../demos/item/item-link.marko";

<component-page title="Item" description="A flexible component for displaying content in a structured item layout.">
  <demo-box title="Default">
    <ItemDemo/>
  </demo-box>

  <demo-box title="Variants">
    <ItemVariant/>
  </demo-box>

  <demo-box title="Sizes">
    <ItemSize/>
  </demo-box>

  <demo-box title="With icon media">
    <ItemIcon/>
  </demo-box>

  <demo-box title="With image media">
    <ItemImage/>
  </demo-box>

  <demo-box title="With header and footer">
    <ItemHeaderDemo/>
  </demo-box>

  <demo-box title="Group with separators">
    <ItemGroupDemo/>
  </demo-box>

  <demo-box title="As link">
    <ItemLink/>
  </demo-box>
</component-page>
