import Item from "@marko-ui/shadcn/ui/item/item.marko";
import ItemMedia from "@marko-ui/shadcn/ui/item/media.marko";
import ItemContent from "@marko-ui/shadcn/ui/item/content.marko";
import ItemTitle from "@marko-ui/shadcn/ui/item/title.marko";
import ItemDescription from "@marko-ui/shadcn/ui/item/description.marko";
import ItemActions from "@marko-ui/shadcn/ui/item/actions.marko";
import Badge from "@marko-ui/shadcn/ui/badge/badge.marko";

<Item variant="outline" style="width: 400px;">
  <ItemMedia variant="image">
    <img src="https://github.com/shadcn.png" alt="Avatar"/>
  </ItemMedia>
  <ItemContent>
    <ItemTitle>shadcn</ItemTitle>
    <ItemDescription>Pushed 3 commits to marko-ui/registry</ItemDescription>
  </ItemContent>
  <ItemActions>
    <Badge variant="secondary">2h ago</Badge>
  </ItemActions>
</Item>
