import Item from "@marko-ui/shadcn/ui/item/item.marko";
import ItemContent from "@marko-ui/shadcn/ui/item/content.marko";
import ItemTitle from "@marko-ui/shadcn/ui/item/title.marko";
import ItemDescription from "@marko-ui/shadcn/ui/item/description.marko";

<a href="#" style="text-decoration: none; display: block; width: 400px;">
  <Item variant="outline">
    <ItemContent>
      <ItemTitle>Clickable item</ItemTitle>
      <ItemDescription>This entire item acts as a link.</ItemDescription>
    </ItemContent>
  </Item>
</a>
