import Item from "@marko-ui/shadcn/ui/item/item.marko";
import ItemMedia from "@marko-ui/shadcn/ui/item/media.marko";
import ItemContent from "@marko-ui/shadcn/ui/item/content.marko";
import ItemTitle from "@marko-ui/shadcn/ui/item/title.marko";
import ItemDescription from "@marko-ui/shadcn/ui/item/description.marko";
import Avatar from "@marko-ui/shadcn/ui/avatar/avatar.marko";
import Button from "@marko-ui/shadcn/ui/button/button.marko";
import Icon from "@marko-ui/shadcn/ui/icon/icon.marko";
import DropdownMenu from "@marko-ui/shadcn/ui/dropdown-menu/dropdown-menu.marko";

static const PEOPLE = [
  { username: "shadcn", avatar: "https://github.com/shadcn.png", email: "shadcn@vercel.com" },
  { username: "maxleiter", avatar: "https://github.com/maxleiter.png", email: "maxleiter@vercel.com" },
  { username: "evilrabbit", avatar: "https://github.com/evilrabbit.png", email: "evilrabbit@vercel.com" },
];

<DropdownMenu class="w-48">
  <@trigger|triggerProps|>
    <Button variant="outline" ...triggerProps>
      Select
      <Icon name="ChevronDown"/>
    </Button>
  </@trigger>
  <for|person| of=PEOPLE>
    <@item value=person.username>
      <Item size="xs" class="w-full p-2">
        <ItemMedia>
          <Avatar src=person.avatar alt=person.username fallback=person.username.charAt(0).toUpperCase() class="size-[26px] grayscale"/>
        </ItemMedia>
        <ItemContent class="gap-0">
          <ItemTitle>${person.username}</ItemTitle>
          <ItemDescription class="leading-none">${person.email}</ItemDescription>
        </ItemContent>
      </Item>
    </@item>
  </for>
</DropdownMenu>
