import MenubarDemo from "../../../demos/menubar/menubar-demo.marko";
import MenubarDanger from "../../../demos/menubar/menubar-danger.marko";
import MenubarDisabled from "../../../demos/menubar/menubar-disabled.marko";
import MenubarControlled from "../../../demos/menubar/menubar-controlled.marko";

<component-page title="Menubar" description="A visually persistent menu common in desktop applications that provides quick access to a consistent set of commands.">
  <demo-box title="Default">
    <MenubarDemo/>
  </demo-box>
  <demo-box title="With danger item">
    <MenubarDanger/>
  </demo-box>
  <demo-box title="Disabled item">
    <MenubarDisabled/>
  </demo-box>
  <demo-box title="Selection">
    <MenubarControlled/>
  </demo-box>
</component-page>
