import DropdownMenu from "@marko-ui/shadcn/ui/dropdown-menu/dropdown-menu.marko";
import Button from "@marko-ui/shadcn/ui/button/button.marko";
import Icon from "@marko-ui/shadcn/ui/icon/icon.marko";

<let/paymentMethod="card"/>

<DropdownMenu
  select(value) { paymentMethod = value; }
  class="min-w-56"
>
  <@trigger|triggerProps|>
    <Button variant="outline" ...triggerProps>Payment Method</Button>
  </@trigger>
  <@item type="label" label="Select Payment Method"/>
  <@item type="radio" value="card" radioGroup="payment" checked=(paymentMethod === "card")>
    <Icon name="CreditCard"/>
    Credit Card
  </@item>
  <@item type="radio" value="paypal" radioGroup="payment" checked=(paymentMethod === "paypal")>
    <Icon name="WalletIcon"/>
    PayPal
  </@item>
  <@item type="radio" value="bank" radioGroup="payment" checked=(paymentMethod === "bank")>
    <Icon name="Building2Icon"/>
    Bank Transfer
  </@item>
</DropdownMenu>
