import DropdownMenu from "@marko-ui/shadcn/ui/dropdown-menu/dropdown-menu.marko";
import Button from "@marko-ui/shadcn/ui/button/button.marko";

<let/position="bottom"/>

<const/items=[
  { type: "label", label: "Panel Position" },
  { type: "radio", value: "top", label: "Top", checked: position === "top", radioGroup: "position" },
  { type: "radio", value: "bottom", label: "Bottom", checked: position === "bottom", radioGroup: "position" },
  { type: "radio", value: "right", label: "Right", checked: position === "right", radioGroup: "position" },
]/>

<DropdownMenu
  items=items
  select(value) { position = value; }
  class="w-32"
>
  <@trigger|triggerProps|>
    <Button variant="outline" ...triggerProps>Open</Button>
  </@trigger>
</DropdownMenu>
