import DropdownMenu from "@marko-ui/shadcn/ui/dropdown-menu/dropdown-menu.marko";
import Button from "@marko-ui/shadcn/ui/button/button.marko";

static const ITEMS = [
  { value: "cut", label: "Cut" },
  { value: "copy", label: "Copy", disabled: true },
  { value: "paste", label: "Paste" },
];

<DropdownMenu items=ITEMS>
  <@trigger|triggerProps|>
    <Button variant="outline" ...triggerProps>Edit</Button>
  </@trigger>
</DropdownMenu>
