import Textarea from "@marko-ui/shadcn/ui/textarea/textarea.marko";
import Button from "@marko-ui/shadcn/ui/button/button.marko";

<div class="grid w-full gap-2">
  <Textarea placeholder="Type your message here."/>
  <Button>Send message</Button>
</div>
