import TimerDemo from "../../../demos/timer/timer-demo.marko";
import TimerCountdown from "../../../demos/timer/timer-countdown.marko";
import TimerParts from "../../../demos/timer/timer-parts.marko";
import TimerControlled from "../../../demos/timer/timer-controlled.marko";

<component-page title="Timer" description="A countdown or stopwatch timer with a segmented digit display and start/pause/resume/reset controls.">
  <demo-box title="Stopwatch">
    <TimerDemo/>
  </demo-box>
  <demo-box title="Countdown">
    <TimerCountdown/>
  </demo-box>
  <demo-box title="Days / hours / mins / secs">
    <TimerParts/>
  </demo-box>
  <demo-box title="Controlled parts">
    <TimerControlled/>
  </demo-box>
</component-page>
