import BreadcrumbDemo from "../../../demos/breadcrumb/breadcrumb-demo.marko";
import BreadcrumbSeparatorDemo from "../../../demos/breadcrumb/breadcrumb-separator.marko";
import BreadcrumbEllipsisDemo from "../../../demos/breadcrumb/breadcrumb-ellipsis.marko";
import BreadcrumbResponsiveDemo from "../../../demos/breadcrumb/breadcrumb-responsive.marko";

<component-page title="Breadcrumb" description="Displays the path to the current resource using a hierarchy of links.">
  <demo-box title="Default">
    <BreadcrumbDemo/>
  </demo-box>
  <demo-box title="Custom separator">
    <BreadcrumbSeparatorDemo/>
  </demo-box>
  <demo-box title="With ellipsis">
    <BreadcrumbEllipsisDemo/>
  </demo-box>
  <demo-box title="Responsive">
    <BreadcrumbResponsiveDemo/>
  </demo-box>
</component-page>
