import EmptyDemo from "../../../demos/empty/empty-demo.marko";
import EmptyOutline from "../../../demos/empty/empty-outline.marko";
import EmptyBackground from "../../../demos/empty/empty-background.marko";
import EmptyAvatar from "../../../demos/empty/empty-avatar.marko";
import EmptyAvatarGroup from "../../../demos/empty/empty-avatar-group.marko";
import EmptyInputGroup from "../../../demos/empty/empty-input-group.marko";
import EmptyIcon from "../../../demos/empty/empty-icon.marko";

<component-page title="Empty" description="Use to display an empty state.">
  <demo-box title="Default">
    <EmptyDemo/>
  </demo-box>
  <demo-box title="Outline">
    <EmptyOutline/>
  </demo-box>
  <demo-box title="Background">
    <EmptyBackground/>
  </demo-box>
  <demo-box title="Avatar">
    <EmptyAvatar/>
  </demo-box>
  <demo-box title="Avatar group">
    <EmptyAvatarGroup/>
  </demo-box>
  <demo-box title="Input group">
    <EmptyInputGroup/>
  </demo-box>
  <demo-box title="Icon">
    <EmptyIcon/>
  </demo-box>
</component-page>
