import CheckboxDemo from "../../../demos/checkbox/checkbox-demo.marko";
import CheckboxChecked from "../../../demos/checkbox/checkbox-checked.marko";
import CheckboxIndeterminate from "../../../demos/checkbox/checkbox-indeterminate.marko";
import CheckboxDisabled from "../../../demos/checkbox/checkbox-disabled.marko";
import CheckboxControlled from "../../../demos/checkbox/checkbox-controlled.marko";

<component-page title="Checkbox" description="A control that allows the user to toggle between checked, unchecked, and indeterminate states.">
  <demo-box title="Default">
    <CheckboxDemo/>
  </demo-box>
  <demo-box title="Checked">
    <CheckboxChecked/>
  </demo-box>
  <demo-box title="Indeterminate">
    <CheckboxIndeterminate/>
  </demo-box>
  <demo-box title="Disabled">
    <CheckboxDisabled/>
  </demo-box>
  <demo-box title="Controlled">
    <CheckboxControlled/>
  </demo-box>
</component-page>
