import Toggle from "@marko-ui/shadcn/ui/toggle/toggle.marko";
import Icon from "@marko-ui/shadcn/ui/icon/icon.marko";

<Toggle aria-label="Toggle italic">
  <Icon name="Italic" data-icon="inline-start"/>
  Italic
</Toggle>
