import AlertDialogDemo from "../../../demos/alert-dialog/alert-dialog-demo.marko";
import AlertDialogDestructive from "../../../demos/alert-dialog/alert-dialog-destructive.marko";
import AlertDialogControlled from "../../../demos/alert-dialog/alert-dialog-controlled.marko";

<component-page title="Alert Dialog" description="A modal dialog that interrupts the user with important content and expects a response.">
  <demo-box title="Default">
    <AlertDialogDemo/>
  </demo-box>
  <demo-box title="Custom text and action">
    <AlertDialogDestructive/>
  </demo-box>
  <demo-box title="Controlled">
    <AlertDialogControlled/>
  </demo-box>
</component-page>
