import Field from "@marko-ui/shadcn/ui/field/field.marko";
import FieldLabel from "@marko-ui/shadcn/ui/field/field-label.marko";
import FieldDescription from "@marko-ui/shadcn/ui/field/field-description.marko";
import TextInput from "@marko-ui/shadcn/ui/input/input.marko";

<Field class="max-w-sm">
  <FieldLabel for="field-default-email">Email</FieldLabel>
  <TextInput id="field-default-email" type="email" placeholder="you@example.com"/>
  <FieldDescription>We'll never share your email.</FieldDescription>
</Field>
