import Button from "@marko-ui/shadcn/ui/button/button.marko";
import Field from "@marko-ui/shadcn/ui/field/field.marko";
import FieldContent from "@marko-ui/shadcn/ui/field/field-content.marko";
import FieldDescription from "@marko-ui/shadcn/ui/field/field-description.marko";
import FieldGroup from "@marko-ui/shadcn/ui/field/field-group.marko";
import FieldLabel from "@marko-ui/shadcn/ui/field/field-label.marko";
import FieldLegend from "@marko-ui/shadcn/ui/field/field-legend.marko";
import FieldSeparator from "@marko-ui/shadcn/ui/field/field-separator.marko";
import FieldSet from "@marko-ui/shadcn/ui/field/field-set.marko";
import Input from "@marko-ui/shadcn/ui/input/input.marko";
import Textarea from "@marko-ui/shadcn/ui/textarea/textarea.marko";

<div class="w-full max-w-4xl">
  <form>
    <FieldSet>
      <FieldLegend>Profile</FieldLegend>
      <FieldDescription>Fill in your profile information.</FieldDescription>
      <FieldSeparator/>
      <FieldGroup>
        <Field orientation="responsive">
          <FieldContent>
            <FieldLabel for="field-responsive-name">Name</FieldLabel>
            <FieldDescription>Provide your full name for identification</FieldDescription>
          </FieldContent>
          <Input id="field-responsive-name" placeholder="Evil Rabbit" required/>
        </Field>
        <FieldSeparator/>
        <Field orientation="responsive">
          <FieldContent>
            <FieldLabel for="field-responsive-message">Message</FieldLabel>
            <FieldDescription>
              You can write your message here. Keep it short, preferably under 100 characters.
            </FieldDescription>
          </FieldContent>
          <Textarea
            id="field-responsive-message"
            placeholder="Hello, world!"
            required
            class="min-h-[100px] resize-none sm:min-w-[300px]"
          />
        </Field>
        <FieldSeparator/>
        <Field orientation="responsive">
          <Button type="submit">Submit</Button>
          <Button type="button" variant="outline">Cancel</Button>
        </Field>
      </FieldGroup>
    </FieldSet>
  </form>
</div>
