import FieldSet from "@marko-ui/shadcn/ui/field/field-set.marko";
import FieldGroup from "@marko-ui/shadcn/ui/field/field-group.marko";
import Field from "@marko-ui/shadcn/ui/field/field.marko";
import FieldLegend from "@marko-ui/shadcn/ui/field/field-legend.marko";
import FieldDescription from "@marko-ui/shadcn/ui/field/field-description.marko";
import TextInput from "@marko-ui/shadcn/ui/input/input.marko";

<div class="w-full max-w-md">
  <FieldSet>
    <FieldGroup>
      <Field>
        <FieldLegend variant="label">Username</FieldLegend>
        <TextInput id="field-input-username" type="text" placeholder="Max Leiter"/>
        <FieldDescription>Choose a unique username for your account.</FieldDescription>
      </Field>
      <Field>
        <FieldLegend variant="label">Password</FieldLegend>
        <FieldDescription>Must be at least 8 characters long.</FieldDescription>
        <TextInput id="field-input-password" type="password" placeholder="••••••••"/>
      </Field>
    </FieldGroup>
  </FieldSet>
</div>
