import SpinnerDemo from "../../../demos/spinner/spinner-demo.marko";
import SpinnerSize from "../../../demos/spinner/spinner-size.marko";
import SpinnerColor from "../../../demos/spinner/spinner-color.marko";
import SpinnerText from "../../../demos/spinner/spinner-text.marko";
import SpinnerButton from "../../../demos/spinner/spinner-button.marko";
import SpinnerBadge from "../../../demos/spinner/spinner-badge.marko";

<component-page title="Spinner" description="An indicator that can be used to show a loading state.">
  <demo-box title="Default">
    <SpinnerDemo/>
  </demo-box>
  <demo-box title="Sizes">
    <SpinnerSize/>
  </demo-box>
  <demo-box title="Color">
    <SpinnerColor/>
  </demo-box>
  <demo-box title="With text">
    <SpinnerText/>
  </demo-box>
  <demo-box title="In a button">
    <SpinnerButton/>
  </demo-box>
  <demo-box title="In a badge">
    <SpinnerBadge/>
  </demo-box>
</component-page>
