import SliderDemo from "../../../demos/slider/slider-demo.marko";
import SliderRange from "../../../demos/slider/slider-range.marko";
import SliderMultiple from "../../../demos/slider/slider-multiple.marko";
import SliderStep from "../../../demos/slider/slider-step.marko";
import SliderDisabled from "../../../demos/slider/slider-disabled.marko";
import SliderControlled from "../../../demos/slider/slider-controlled.marko";

<component-page title="Slider" description="An input where the user selects a value from within a given range.">
  <demo-box title="Default">
    <SliderDemo/>
  </demo-box>
  <demo-box title="Range">
    <SliderRange/>
  </demo-box>
  <demo-box title="Multiple Thumbs">
    <SliderMultiple/>
  </demo-box>
  <demo-box title="Step">
    <SliderStep/>
  </demo-box>
  <demo-box title="Disabled">
    <SliderDisabled/>
  </demo-box>
  <demo-box title="Controlled">
    <SliderControlled/>
  </demo-box>
</component-page>
