import Avatar from "@marko-ui/registry/ui/avatar/avatar.marko";

<div class="flex flex-row flex-wrap items-center gap-8">
  <Avatar src="https://github.com/shadcn.png" alt="@shadcn" fallback="CN"/>
  <Avatar src="https://github.com/evilrabbit.png" alt="@evilrabbit" fallback="ER"/>
  <Avatar fallback="LR"/>
</div>
