import Avatar from "@marko-ui/shadcn/ui/avatar/avatar.marko";
import Button from "@marko-ui/shadcn/ui/button/button.marko";
import DropdownMenu, { type DropdownMenuItem } from "@marko-ui/shadcn/ui/dropdown-menu/dropdown-menu.marko";

static const ITEMS: DropdownMenuItem[] = [
  { value: "profile", label: "Profile" },
  { value: "billing", label: "Billing" },
  { value: "settings", label: "Settings" },
  { type: "separator" },
  { value: "logout", label: "Log out", variant: "destructive" },
];

<DropdownMenu items=ITEMS class="w-32">
  <@trigger|triggerProps|>
    <Button variant="ghost" size="icon" class="rounded-full" ...triggerProps>
      <Avatar src="https://github.com/shadcn.png" alt="shadcn" fallback="CN"/>
    </Button>
  </@trigger>
</DropdownMenu>
