import ToastDemo from "../../../demos/toast/toast-demo.marko";
import ToastTypes from "../../../demos/toast/toast-types.marko";
import ToastDescription from "../../../demos/toast/toast-description.marko";
import ToastPromise from "../../../demos/toast/toast-promise.marko";
import ToastDismiss from "../../../demos/toast/toast-dismiss.marko";

<component-page title="Toast" description="A succinct message that is displayed temporarily.">
  <demo-box title="Default">
    <ToastDemo/>
  </demo-box>

  <demo-box title="Types">
    <ToastTypes/>
  </demo-box>

  <demo-box title="With description only">
    <ToastDescription/>
  </demo-box>

  <demo-box title="Promise">
    <ToastPromise/>
  </demo-box>

  <demo-box title="Dismiss all">
    <ToastDismiss/>
  </demo-box>
</component-page>
