import Skeleton from "@marko-ui/registry/ui/skeleton/skeleton.marko";

<div class="w-[300px] space-y-2">
  <Skeleton class="h-4 w-full"/>
  <Skeleton class="h-4 w-full"/>
  <Skeleton class="h-4 w-3/4"/>
</div>
