import SeparatorDemo from "../../../demos/separator/separator-demo.marko";
import SeparatorVertical from "../../../demos/separator/separator-vertical.marko";
import SeparatorSemantic from "../../../demos/separator/separator-semantic.marko";

<component-page title="Separator" description="Visually or semantically separates content.">
  <demo-box title="Horizontal (default)">
    <SeparatorDemo/>
  </demo-box>
  <demo-box title="Vertical">
    <SeparatorVertical/>
  </demo-box>
  <demo-box title="Semantic (non-decorative)">
    <SeparatorSemantic/>
  </demo-box>
</component-page>
