import Default from "../../../demos/table/default.marko";
import SelectedRow from "../../../demos/table/selected-row.marko";

<component-page title="Table" description="A responsive table component.">
  <demo-box title="Default">
    <Default/>
  </demo-box>
  <demo-box title="Selected row">
    <SelectedRow/>
  </demo-box>
</component-page>
