import Button from "@marko-ui/shadcn/ui/button/button.marko";
import Icon from "@marko-ui/shadcn/ui/icon/icon.marko";

<div class="flex gap-2">
  <Button variant="outline">
    <Icon name="GitBranchIcon" data-icon="inline-start"/> New Branch
  </Button>
  <Button variant="outline">
    Fork
    <Icon name="GitBranchIcon" data-icon="inline-end"/>
  </Button>
</div>
