import Button from "@marko-ui/shadcn/ui/button/button.marko";
import Icon from "@marko-ui/shadcn/ui/icon/icon.marko";

<Button variant="outline" size="icon" aria-label="Submit">
  <Icon name="ArrowUpIcon"/>
</Button>
