import Button from "@marko-ui/shadcn/ui/button/button.marko";
import Icon from "@marko-ui/shadcn/ui/icon/icon.marko";

<div class="flex gap-2">
  <Button class="rounded-full">Get Started</Button>
  <Button variant="outline" size="icon" class="rounded-full">
    <Icon name="ArrowUpIcon"/>
  </Button>
</div>
