import Button from "@marko-ui/shadcn/ui/button/button.marko";
import Spinner from "@marko-ui/shadcn/ui/spinner/spinner.marko";

<div class="flex gap-2">
  <Button variant="outline" disabled>
    <Spinner data-icon="inline-start"/>
    Generating
  </Button>
  <Button variant="secondary" disabled>
    Downloading
    <Spinner data-icon="inline-start"/>
  </Button>
</div>
