import Button from "@marko-ui/shadcn/ui/button/button.marko";

<div class="flex flex-wrap items-center gap-2">
  <Button disabled>Disabled</Button>
  <Button variant="outline" disabled>Outline</Button>
</div>
