import Button from "@marko-ui/shadcn/ui/button/button.marko";

<div class="flex flex-wrap items-center gap-2">
  <Button type="button" size="sm">Small</Button>
  <Button type="button">Default</Button>
  <Button type="button" size="lg">Large</Button>
</div>
