import Button from "@marko-ui/shadcn/ui/button/button.marko";
import Icon from "@marko-ui/shadcn/ui/icon/icon.marko";

<div class="flex flex-wrap items-center gap-2 md:flex-row">
  <Button variant="outline">Button</Button>
  <Button variant="outline" size="icon" aria-label="Submit">
    <Icon name="ArrowUpIcon"/>
  </Button>
</div>
