import DialogDemo from "../../../demos/dialog/dialog-demo.marko";
import DialogCloseButton from "../../../demos/dialog/dialog-close-button.marko";
import DialogNoFooter from "../../../demos/dialog/dialog-no-footer.marko";
import DialogControlled from "../../../demos/dialog/dialog-controlled.marko";

<component-page title="Dialog" description="A window overlaid on either the primary window or another dialog window, rendering the content underneath inert.">
  <demo-box title="Default">
    <DialogDemo/>
  </demo-box>

  <demo-box title="Custom close button">
    <DialogCloseButton/>
  </demo-box>

  <demo-box title="Without footer">
    <DialogNoFooter/>
  </demo-box>

  <demo-box title="Controlled">
    <DialogControlled/>
  </demo-box>
</component-page>
