import TabsDemo from "../../../demos/tabs/tabs-demo.marko";
import TabsDisabled from "../../../demos/tabs/tabs-disabled.marko";
import TabsControlled from "../../../demos/tabs/tabs-controlled.marko";

<component-page title="Tabs" description="A set of layered sections of content—known as tab panels—that are displayed one at a time.">
  <demo-box title="Default">
    <TabsDemo/>
  </demo-box>
  <demo-box title="Disabled tab">
    <TabsDisabled/>
  </demo-box>
  <demo-box title="Controlled">
    <TabsControlled/>
  </demo-box>
</component-page>
