import ButtonGroupDefault from "../../../demos/button-group/default.marko";
import ButtonGroupOrientation from "../../../demos/button-group/orientation.marko";
import ButtonGroupSizes from "../../../demos/button-group/sizes.marko";
import ButtonGroupNested from "../../../demos/button-group/nested.marko";
import ButtonGroupSeparatorDemo from "../../../demos/button-group/separator.marko";
import ButtonGroupSplit from "../../../demos/button-group/split.marko";
import ButtonGroupText from "../../../demos/button-group/text.marko";

<component-page title="Button Group" description="A container that groups related buttons together, merging their borders and corners.">
  <demo-box title="Default">
    <ButtonGroupDefault/>
  </demo-box>

  <demo-box title="Vertical Orientation">
    <ButtonGroupOrientation/>
  </demo-box>

  <demo-box title="Sizes">
    <ButtonGroupSizes/>
  </demo-box>

  <demo-box title="Nested">
    <ButtonGroupNested/>
  </demo-box>

  <demo-box title="With Separator">
    <ButtonGroupSeparatorDemo/>
  </demo-box>

  <demo-box title="Split">
    <ButtonGroupSplit/>
  </demo-box>

  <demo-box title="With Text Label">
    <ButtonGroupText/>
  </demo-box>
</component-page>
