import ResizableDemo from "../../../demos/resizable/resizable-demo.marko";
import ResizableVertical from "../../../demos/resizable/resizable-vertical.marko";
import ResizableSizes from "../../../demos/resizable/resizable-sizes.marko";
import ResizableControlled from "../../../demos/resizable/resizable-controlled.marko";

<component-page title="Resizable" description="Accessible resizable panel groups and layouts with keyboard support.">
  <demo-box title="Default">
    <ResizableDemo/>
  </demo-box>
  <demo-box title="Vertical">
    <ResizableVertical/>
  </demo-box>
  <demo-box title="Min and max sizes">
    <ResizableSizes/>
  </demo-box>
  <demo-box title="Controlled">
    <ResizableControlled/>
  </demo-box>
</component-page>
