// Ported from shadcn registry/bases/base/blocks/preview-02/cards/empty-distribute-track.tsx
import Button from "@marko-ui/registry/ui/button/button.marko";
import Card from "@marko-ui/registry/ui/card/card.marko";
import CardContent from "@marko-ui/registry/ui/card/content.marko";
import Empty from "@marko-ui/registry/ui/empty/empty.marko";
import EmptyContent from "@marko-ui/registry/ui/empty/content.marko";
import EmptyDescription from "@marko-ui/registry/ui/empty/description.marko";
import EmptyHeader from "@marko-ui/registry/ui/empty/header.marko";
import EmptyMedia from "@marko-ui/registry/ui/empty/media.marko";
import EmptyTitle from "@marko-ui/registry/ui/empty/title.marko";
import Icon from "../../lib/icon.marko";

<Card>
  <CardContent>
    <Empty class="p-4">
      <EmptyMedia variant="icon">
        <Icon name="PlusIcon"/>
      </EmptyMedia>
      <EmptyHeader>
        <EmptyTitle>Distribute Track</EmptyTitle>
        <EmptyDescription>
          Upload your first master to start reaching listeners on Spotify,
          Apple Music, and more.
        </EmptyDescription>
      </EmptyHeader>
      <EmptyContent>
        <Button>Create Release</Button>
      </EmptyContent>
    </Empty>
  </CardContent>
</Card>
