import KbdDemo from "../../../demos/kbd/kbd-demo.marko";
import KbdGroupExample from "../../../demos/kbd/kbd-group.marko";
import KbdButton from "../../../demos/kbd/kbd-button.marko";
import KbdTooltip from "../../../demos/kbd/kbd-tooltip.marko";
import KbdInputGroup from "../../../demos/kbd/kbd-input-group.marko";

<component-page title="Kbd" description="Used to display textual user input from keyboard.">
  <demo-box title="Basic">
    <KbdDemo/>
  </demo-box>
  <demo-box title="Group">
    <KbdGroupExample/>
  </demo-box>
  <demo-box title="Button">
    <KbdButton/>
  </demo-box>
  <demo-box title="Tooltip">
    <KbdTooltip/>
  </demo-box>
  <demo-box title="Input Group">
    <KbdInputGroup/>
  </demo-box>
</component-page>
