import Default from "../../../demos/textarea/default.marko";
import WithLabel from "../../../demos/textarea/with-label.marko";
import WithText from "../../../demos/textarea/with-text.marko";
import WithValue from "../../../demos/textarea/with-value.marko";
import Disabled from "../../../demos/textarea/disabled.marko";
import Invalid from "../../../demos/textarea/invalid.marko";

<component-page title="Textarea" description="Displays a form textarea or a component that looks like a textarea.">
  <demo-box title="Default">
    <Default/>
  </demo-box>
  <demo-box title="With label">
    <WithLabel/>
  </demo-box>
  <demo-box title="With text">
    <WithText/>
  </demo-box>
  <demo-box title="With value">
    <WithValue/>
  </demo-box>
  <demo-box title="Disabled">
    <Disabled/>
  </demo-box>
  <demo-box title="Invalid">
    <Invalid/>
  </demo-box>
</component-page>
