import Default from "../../../demos/input-group/default.marko";
import AlignInlineStart from "../../../demos/input-group/align-inline-start.marko";
import AlignInlineEnd from "../../../demos/input-group/align-inline-end.marko";
import AlignBlockStart from "../../../demos/input-group/align-block-start.marko";
import AlignBlockEnd from "../../../demos/input-group/align-block-end.marko";
import ButtonDemo from "../../../demos/input-group/button.marko";
import TextDemo from "../../../demos/input-group/text.marko";
import TextareaDemo from "../../../demos/input-group/textarea.marko";
import Disabled from "../../../demos/input-group/disabled.marko";
import Invalid from "../../../demos/input-group/invalid.marko";

<component-page title="Input Group" description="Groups inputs and addons together, with a wide range of customization options.">
  <demo-box title="Default">
    <Default/>
  </demo-box>

  <demo-box title="With inline-end addon">
    <AlignInlineEnd/>
  </demo-box>

  <demo-box title="With button addon">
    <ButtonDemo/>
  </demo-box>

  <demo-box title="With both addons">
    <TextDemo/>
  </demo-box>

  <demo-box title="Inline start addon">
    <AlignInlineStart/>
  </demo-box>

  <demo-box title="Block start addon">
    <AlignBlockStart/>
  </demo-box>

  <demo-box title="Block end addon">
    <AlignBlockEnd/>
  </demo-box>

  <demo-box title="Textarea with block addons">
    <TextareaDemo/>
  </demo-box>

  <demo-box title="Disabled">
    <Disabled/>
  </demo-box>

  <demo-box title="Invalid">
    <Invalid/>
  </demo-box>
</component-page>
