import QrCodeDemo from "../../../demos/qr-code/qr-code-demo.marko";
import QrCodeSizes from "../../../demos/qr-code/qr-code-sizes.marko";
import QrCodeOverlay from "../../../demos/qr-code/qr-code-overlay.marko";
import QrCodeDownload from "../../../demos/qr-code/qr-code-download.marko";
import QrCodeControlled from "../../../demos/qr-code/qr-code-controlled.marko";

export interface Input {}

<component-page
  title="QR Code"
  description="Renders a QR code for a given value, with size variants and an optional center logo overlay."
>
  <demo-box title="Default">
    <QrCodeDemo/>
  </demo-box>

  <demo-box title="Sizes">
    <QrCodeSizes/>
  </demo-box>

  <demo-box title="With center logo overlay">
    <QrCodeOverlay/>
  </demo-box>

  <demo-box title="Download as PNG">
    <QrCodeDownload/>
  </demo-box>

  <demo-box title="Controlled value">
    <QrCodeControlled/>
  </demo-box>
</component-page>
